{{- $included := replace (.Get "include") ", " "," -}}
{{- $included := split $included "," -}}

  <div style="border: solid 2px #990000; padding: 0px; text-align: center;">
    <span style="background-color: #990000; color: white; margin-bottom: 0px; padding-bottom: 0px; font-size: 1rem;"><i class="fas fa-sync-alt" style="padding-right: 0.25rem;"></i>Inquiry Cycle Connections</span>
    {{- if in $included "engage" -}}
      <div style="padding: 0.5rem; display: inline-block;">
        <img src="/images/inquiry-icons/engage-small.png" alt="Engage Icon" /><br>
        <strong>Engage</strong>
      </div>
    {{- end -}}
    {{- if in $included "interact" -}}
      <div style="padding: 0.5rem; display: inline-block;">
        <img src="/images/inquiry-icons/interact-small.png" alt="interact Icon" /><br>
        <strong>Interact</strong>
      </div>
    {{- end -}}
    {{- if in $included "integrate" -}}
      <div style="padding: 0.5rem; display: inline-block;">
        <img src="/images/inquiry-icons/integrate-small.png" alt="Integrate Icon" /><br>
        <strong>Integrate</strong>
      </div>
    {{- end -}}
    {{- if in $included "reflect" -}}
      <div style="padding: 0.5rem; display: inline-block;">
        <img src="/images/inquiry-icons/reflect-small.png" alt="Reflect Icon" /><br>
        <strong>Reflect</strong>
      </div>
    {{- end -}}
  </div>
