{{ $JSON := $.Site.Data.throughlines }}
{{ $included := replace (.Get "include") ", " "," }}
{{ $included := apply (split $included ",") "lower" "." }}
{{ $commitments := .Get "commitments" }}
<ul class="principles {{ if and ($commitments) (ne $commitments "false") }}with-desc{{ end }}">
  {{ range $JSON.throughlines }}
    {{ if in $included (lower .short_title) }}
      <li>
        <strong>
          <a href="https://inclusivedesignprinciples.org#{{ .title | urlize }}">
            <svg class="balloon-icon" viewBox="0 0 141.73228 177.16535" aria-hidden="true" focusable="false">
              <use xlink:href="#balloon"></use>
            </svg>
            {{ .title }}
          </a>:
        </strong>
        <em>{{ .definition }}</em>
        {{ if and ($commitments) (ne $commitments "false") }}
          <p>{{ .commitments }}</p>
        {{ end }}
      </li>
    {{ end }}
  {{ end }}
</ul>
