{{ $JSON := $.Site.Data.throughlines }}
{{ range $JSON.throughlines }}
  <div style="border: solid 2px {{ .color }}; padding: 0px;">
    <h2 style="background-color: {{ .color }}; color: white; margin-bottom: 0px;">
      <img src="{{ .img }}" alt="{{ .title }} icon" /> {{ .title }}
    </h2>
    <div style="padding: 0.5rem;">
      <p style="margin-top: 0px;"><em>{{ .definition }}</em></p>
      <p>Commitments:</p>
      <ul class="fa-ul">
      {{ range .commitments }}
        <li>
          <span class="fa-li"><i class="fas fa-handshake"></i></span>{{ . }}
        </li>
      {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
